# lambda  
작고 이름 없는 함수

In [1]:
lambda a, b : a+b

두 인자의 합을 돌려준다.

# list comprehension

In [2]:
squares = list(map(lambda x: x**2, range(10)))
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [3]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

한 list comprehension 안에 두 개의 for문이 들어갈 수 있다! (nested list comprehension과는 다르다.)

In [5]:
[(x, x+1) for x in range(10)]

[(0, 1),
 (1, 2),
 (2, 3),
 (3, 4),
 (4, 5),
 (5, 6),
 (6, 7),
 (7, 8),
 (8, 9),
 (9, 10)]

# dictionary comprehension

In [6]:
{x:x**2 for x in (2, 4, 6)}

{2: 4, 4: 16, 6: 36}

dict() 생성자는 키-값 쌍들의 시퀀스로부터 직접 딕셔너리를 구상

In [7]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [8]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

키가 간단한 문자열일 때, 때로 키워드 인자들을 사용해서 쌍을 지정하기가 쉽다.

# 5.6. 루프 테크닉

둘이나 그 이상의 시퀀스를 동시에 루핑하려면, zip() 함수로 엔트리들의 쌍을 만들 수 있다.

In [11]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
zip(questions, answers)

In [12]:
for q, a in zip(questions, answers):
    print(q, a)

name lancelot
quest the holy grail
favorite color blue

## zip(*iterables)  
각 iterables의 요소들을 모으는 이터레이터를 만든다.  
튜플의 이터레이터를 돌려주는데, i번째 튜플은 각 인자로 전달된 시퀀스나 이터러블의 i번째 요소를 포함한다.
이터레이터는 가장 짧은 입력 이터러블이 모두 소모되면 멈춘다.
인자가 없으면 빈 이터레이터를 돌려준다.

In [13]:
list(zip(questions, answers))

[('name', 'lancelot'), ('quest', 'the holy grail'), ('favorite color', 'blue')]

In [14]:
x2, y2 = zip(*zip(questions, answers))

In [15]:
x2, y2

(('name', 'quest', 'favorite color'), ('lancelot', 'the holy grail', 'blue'))

zip()을 *연산자와 함께 쓰면 리스트를 unzip할 수 있다.

In [20]:
list(x2) == questions

True

시퀀스를 거꾸로 루핑하려면, 먼저 정방향으로 시퀀스를 지정한 다음에 reversed() 함수를 호출

In [21]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [23]:
sorted(questions, reverse=True)

['favorite color', 'name', 'quest']

iterable 객체만 for문을 돌 수 있다.  
sorted(iterable, *, key=None, reverse=False)는  
iterable의 항목들로 정렬된 새 리스트를 돌려준다.  
list.sort()와 혼동 주의할 것. 
list.sort()는 list를 정렬한 뒤 None을 반환하기 때문에  
list = list.sort()하게 되면
list에는 None이 저장된다. (많은 뼈아픈 실수들...)  
list.sort()를 하거나  
sorting된 결과를 확인하고 싶다면
sorted(list)  

key는 하나의 인자를 받는 함수를 지정하는데, iterable의 각 요소들로부터 비교 키를 추출하는 데 사용된다.  
key = lambda x: x[1]과 같이 key로 lambda 표현식을 사용해도 된다!  

reverse = True이면 내림차순 정렬 결과를,  
reverse = False이면 오름차순 정렬 결과를 반환한다.

In [24]:
sorted("This is a test string from eunha".split(), key=str.lower)

['a', 'eunha', 'from', 'is', 'string', 'test', 'This']

In [26]:
student_tuples = [('dave', 'B', 10), ('john', 'A', 15), ('jane', 'B', 12)]
sorted(student_tuples, key = lambda student:student[2])

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [29]:
class Student:
    def __init__(self, name, grade, age):
        self.name = name
        self.grade = grade
        self.age = age
    def __repr__(self):
        return repr((self.name, self.grade, self.age))
    
student_objects = [Student('dave', 'B', 10), Student('john', 'A', 15), Student('jane', 'B', 12)]
sorted(student_objects, key = lambda student: student.age)

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [31]:
from operator import itemgetter, attrgetter
sorted(student_tuples, key = itemgetter(2))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [32]:
sorted(student_objects, key = attrgetter('age'))

[('dave', 'B', 10), ('jane', 'B', 12), ('john', 'A', 15)]

In [39]:
a = {'dave':10, 'sam':5, 'eunha':15}
{k:v for k, v in sorted(a.items(), key = itemgetter(1))}

{'sam': 5, 'dave': 10, 'eunha': 15}

In [40]:
sorted(student_tuples, key = itemgetter(1,2))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [41]:
sorted(student_objects, key = attrgetter('grade', 'age'))

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [42]:
data = [('red', 1), ('blue', 1), ('red', 2), ('blue', 2)]
sorted(data, key = itemgetter(0))

[('blue', 1), ('blue', 2), ('red', 1), ('red', 2)]

In [43]:
decorated = [(student.grade, i, student) for i, student in enumerate(student_objects)]
decorated.sort()
[student for grade, i, student in decorated]

[('john', 'A', 15), ('dave', 'B', 10), ('jane', 'B', 12)]

In [44]:
students = ['dave', 'john', 'jane']
newgrades = {'john':'F', 'jane':'A', 'dave':'C'}
sorted(students, key = newgrades.__getitem__)

['jane', 'dave', 'john']

In [45]:
students = ['dave', 'john', 'jane']
newgrades = {'john':'F', 'jane':'A', 'dave':'C'}
sorted(students, key = lambda x:newgrades[x])

['jane', 'dave', 'john']